* {
    box-sizing: border-box;
    color: black;
}

.App {
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: column;
    width: 250px;
    list-style: none;
    background: #fff;
    border: 1px solid black;
    padding: 0;
    margin: 0 40px 0;
}

.list_item {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.list_item:last-child {
    border: none;
}

.list_item:hover {
    background: #2c48ff;
    color: #fff;
}

.item_wrapper {
    display: flex;
    width: 300px;
    flex-direction: column;
    background: #fff;
    border: 1px solid black;
}

.image_wrapper {
    width: 100%;
}

.item_image {
    width: 100%;
    object-fit: cover;
}

.item_paddings {
    padding: 10px 20px;
}

.item_name {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.item_details {
    border-bottom: 1px solid black;
}

.item_details:last-child {
    border: none;
}
